# Specify Angular.js files as JavaScript
*.js linguist-language=JavaScript
*.ts linguist-language=TypeScript

# Specify PHP files as PHP
*.php linguist-language=PHP

# Specify SQL files as SQL
*.sql linguist-language=SQL

# Specify HTML files as HTML
*.html linguist-language=HTML

# Specify CSS files as CSS
*.css linguist-language=CSS

# Exclude test or config files from language statistics (if desired)
# Example:
# *.test.js linguist-documentation=false
# *.config.js linguist-documentation=false
